<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lynx.wind.dev">

    <application>
        <activity
            android:name=".intern.DevSettingActivity"
            android:label="@string/title_activity_dev_setting"
            android:theme="@style/AppTheme" />
    </application>
</manifest>